.form {
    max-width: 60%;
    padding: 15px;
    margin: 200px auto;
    border: 2px solid gray;
    flex-direction: column;
    display: none;
}

.input, .form label {
    margin-bottom: 10px;
}

.input {
    background-color: #39bd8e;
    padding: 10px;
    border: none;
}

.buttons {
    margin-top: 10px;
}

.button {
    padding: 15px 20px;
    background-color: #4bb14f;
    border: none;
    color: white;
}

.visible {
    display: flex;
}