$headerBackground: url(../img/m-h-night.jpg);

$font-light: 100;
$font-regular: 400;
$font-bold: 600;

$colors: (
    primary: #ffffff,
    secondary:#e4ae00,
    third: #ffffff,
    highlighted: #ff4e31,
    fourth: #6d707b,
    body: #1b1e2a,
    fifth: #383d4f
);

$fonts: (
    first:('Source Sans Pro', sans-serif) ,
    second: ('Fresca', sans-serif),
    third: ('Hind', sans-serif)
);

$gradient: linear-gradient(-90deg, rgb(146,44,82), rgb(227,172,0));