$headerBackground: url(../img/m-h-day.jpg);

$font-light: 100;
$font-regular: 600;
$font-bold: 800;

$colors: (
    primary: #282b39,
    secondary: #699a00,
    third: #ffffff,
    highlighted: #0ca1c8,
    fourth: #d6d6d6,
    body: #ffffff,
    fifth: #282b39
);

$fonts: (
    first: ('Source Sans Pro', sans-serif),
    second: ('Hind', sans-serif),
    third: ('Fresca', sans-serif)
);

$gradient:  linear-gradient(to right, #689803, #2c5adc);