.logo, .header-wrap .landing-logo, .footer-wrap .landing-logo {
  display: flex;
  padding: 10px 0;
  font-family: "Hind", sans-serif; }
  .logo img, .header-wrap .landing-logo img, .footer-wrap .landing-logo img {
    padding-right: 10px; }
  .logo p, .header-wrap .landing-logo p, .footer-wrap .landing-logo p {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center; }
  .logo span, .header-wrap .landing-logo span, .footer-wrap .landing-logo span {
    font-size: 0.5em;
    font-weight: 100;
    display: block;
    text-align: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: #ffffff;
  font-weight: 600; }

button {
  background-color: #699a00;
  color: #ffffff;
  padding: 13px 35px;
  outline: none;
  border: none;
  font-weight: 600; }

body {
  background-color: #ffffff; }

.header {
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 30%;
  font-family: "Source Sans Pro", sans-serif;
  color: #282b39; }
  .header-wrap {
    width: 40%;
    margin-left: 10%; }
    .header-wrap div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      padding-bottom: 120px; }
  .header_heading {
    padding: 25px 0;
    font-size: 3.7em;
    font-weight: 800;
    line-height: 1;
    width: 70%;
    position: relative; }
    .header_heading::after {
      position: absolute;
      content: "awesome";
      background-color: #0ca1c8;
      top: 85px;
      left: 2px; }
  .header_text {
    font-size: 0.9em;
    font-weight: 100;
    white-space: pre-line;
    line-height: 1.5;
    margin-bottom: 50px; }

.section {
  width: 60%;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif; }
  .section_text {
    text-align: center;
    margin: 30px auto;
    font-size: 2.1em;
    font-weight: 600;
    position: relative;
    color: #282b39; }
    .section_text::after {
      position: absolute;
      content: "adventure";
      background-color: #0ca1c8;
      right: 32.5%; }
  .section_card {
    background-color: #282b39;
    margin: 30px 0;
    display: flex;
    align-items: center;
    border-radius: 5px; }
    .section_card_img {
      margin: 15px;
      height: 220px;
      border-radius: 5px; }
    .section_card_right_container {
      font-size: 0.9em;
      font-weight: 100;
      color: #ffffff;
      margin: 0px 70px 0px 50px;
      display: flex;
      flex-direction: column; }
    .section_card_heading {
      font-size: 1.2em;
      font-weight: 600;
      text-align: center; }
    .section_card_text {
      font-family: "Hind", sans-serif;
      font-weight: 100;
      color: #ffffff;
      margin: 20px 0;
      line-height: 1.5; }
  .section_link {
    color: #ffffff;
    text-align: center; }
  .section_banner {
    background: linear-gradient(to right, #689803, #2c5adc);
    position: relative;
    top: 80px;
    width: 110%;
    right: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .section_banner_text_wrap {
      margin: 30px;
      position: relative; }
    .section_banner_button {
      margin: 30px;
      display: block; }
    .section_banner_heading {
      color: #282b39;
      font-size: 1.4em;
      font-weight: 800; }
      .section_banner_heading::after {
        position: absolute;
        content: "start";
        background-color: #0ca1c8;
        right: 55%; }
    .section_banner_text {
      margin-top: 20px;
      color: #ffffff; }

.footer {
  margin-top: 20px;
  background-color: #282b39;
  font-family: "Hind", sans-serif;
  color: #ffffff;
  font-size: 13px; }
  .footer-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 30px 0; }
  .footer_text {
    width: 22%; }
